# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
.nyc_output/

docs/chapters
docs/report.out
docs/report.log
docs/report.aux
docs/report.toc
docs/report.lof
docs/report.lot
docs/report.fls
docs/report.fdb_latexmk
docs/report-build1.log


# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db
