{
  "include": ["src/**/*.ts"],
  "exclude": [
    "src/main.ts",
    "**/*.test.ts",
    "**/*.d.ts",
    "tests/**",
    "dist/**",
    "node_modules/**"
  ],
  "reporter": ["text", "html", "lcov", "json"],
  "sourceMap": true,
  "instrument": true,
  "cwd": "./",
  "report-dir": "coverage"
}
